<ion-view view-title="我的">
    <ion-content>
        <ion-list>
            <ion-item>
                <div class="l-no1">
                    <div style="width: 50vw;height: 25vh;margin: 12.5vh auto;">
                        <div style="width: 50vw;height: 25vh;border-radius: 100%;border:1px solid #ccc;overflow: hidden">
                            <img style="width:50vw;height:25vh;" src="img/{{limg}}.jpg" alt="">
                        </div>
                        <a menu-close href="#/tab/mine" style="display: block;text-align: center;font-size: 1.5rem;line-height: 2rem;">欢迎，{{lname}}</a>
                    </div>
                </div>
            </ion-item>
            <ion-item><a href="#/tab/car" menu-close style="display: block;height:100%">购物车</a></ion-item>
            <ion-item><a href="#/tab/mine" menu-close style="display: block;height:100%">个人中心</a></ion-item>
        </ion-list>
    </ion-content>
</ion-view>